@import "../../../../styles/variables";

.homeNews__link {
  width: 270px;
  height: fit-content;
  padding: 0 0 15px;
  transition: all 2s;

  &:hover .homeNews__item {
    @extend %btn-hover;
    transition: all 0.5s;
  }

  &:hover .homeNews__item img {
    filter: grayscale(0);
    transition: all 0.5s;
  }
  &:hover .homeNews__item h3 {
    color: $accent;
    transition: all 0.5s;
  }
}

.homeNews__item {
  margin-bottom: 40px;
  & img {
    width: 100%;
    filter: grayscale(25%);
    transition: all 2s;
  }
  & h3 {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 120%;
    transition: all 2s;
  }
}
